<main class="main users chart-page" id="skip-target">
    <div class="container">
      <div class="mx-auto col-lg-10">
        <h2 class="main-title">Evaluation Model</h2>
        <p class="poppins-light nb">*Evaluasi model dilakukan menggunakan RMSE (Root Mean Square Error)*
        </p>
        <% if (success_msg) { %>
          <p class="success-alert"><%= success_msg %></p>
        <% } %>
        <% if (error_msg) { %>
            <p class="fail-alert"><%= error_msg %></p>
        <% } %>
        <% if (models.length > 0) { %>
        <div class="users-table table-wrapper">
          <table class="posts-table">
            <thead>
              <tr class="users-table-info">
                <th>
                  <label class="users-table__checkbox">
                    <p>#</p>
                  </label>
                </th>
                <th>Jenis Model</th>
                <th>Last Trained</th>
                <th>Performance</th>
                <th>Evaluation</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% models.forEach((model, idx) => { %>
              <tr>
                <td><%= idx + 1 %></td>
                <td><%= model.name %></td>
                <td><%= new Date(model.lastTrainedAt).toLocaleString() %></td>
                <td><%= model.performance %></td>
                <td><button class="rounded-4 btn btn-primary btn-sm signBtn evaluate-btn" data-id="<%= model._id %>" data-name="<%= model.name %>">
                  <span><i class="bi bi-graph-up"></i></span> Evaluate
                </button></td>

                <td><button class="rounded-4 btn btn-danger btn-sm delete-btn" data-id="<%= model._id %>">
                  <span><i class="bi bi-trash3-fill"></i></span> Delete
                </button></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% }else { %>
            <p>No models available</p>
          <% } %>
        </div>
      </div>
    </div>
    
</main>
<footer class="bg-light text-center text-white footer">
  <!-- Grid container -->
  <div class="nav justify-content-center">
    
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright: AIRMIND, Inc
  </div>
  <!-- Copyright -->
</footer>
<!-- Chart library -->
<!-- <script src="./plugins/chart.min.js"></script> -->
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="/js/script.js"></script>

<script>

  document.querySelectorAll('.evaluate-btn').forEach(button => {
      button.addEventListener('click', async function(event) {
        event.preventDefault();
        const modelName = this.getAttribute('data-name');
        const modelId = this.getAttribute('data-id');

        try {
          const response = await fetch('/runEvaluation', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ modelId, modelName })
          });

          const result = await response.json();
          if (response.ok) {
            alert('Evaluation completed successfully');
            console.log(result.predictions); // Atau tampilkan hasil di halaman
          } else {
            alert(result.error);
          }
        } catch (error) {
          console.error('Error during evaluation:', error);
          alert('An error occurred during evaluation');
        }
      });
    });
  document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', async function(event) {
      event.preventDefault();
      const modelId = this.getAttribute('data-id');

      try{
        const response = await fetch('/deleteModel', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ modelId }) 
        });
         // Debug: Log the raw response before parsing as JSON
        const text = await response.text();
        console.log('Raw response:', text);

        const result = JSON.parse(text);
          if (response.ok) {
            alert('Delete model successfully');
            location.reload();
          } else {
            alert(result.error);
          }

      }catch(error){
        console.error('Error during delete model:', error);
        alert('An error occurred during delete model');
      }
    })
  });
</script>

