<main class="main users chart-page" id="skip-target">
    <div class="container md">
      <h2 class="main-title">Dataset view</h2>
      <% if (success_msg) { %>
        <p class="success-alert"><%= success_msg %></p>
      <% } %>
      <% if (error_msg) { %>
          <p class="fail-alert"><%= error_msg %></p>
      <% } %>
      <% if (viewdataset.length > 0) { %>
      <div class="users-table table-wrapper">
        <table class="posts-table">
          <thead>
            <tr class="users-table-info">
              <th>
                <label class="users-table__checkbox">
                  <p>#</p>
                </label>
              </th>
              <th>Time</th>
              <th>CO<p class="value-label"> ppm</p></th>
              <th>PM25<p class="value-label"> ppm</p></th>
              <th>Temp<p class="value-label"> °C</p></th>
              <th>Hum<p class="value-label"> %</p></th>
              <th>WindSpeed<p class="value-label"> m/s</p></th>
            </tr>
          </thead>
          <tbody>
            <% viewdataset.forEach((dataset, idx) => { %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><%= new Date(dataset.timestamp).toLocaleString() %></td>
              <td><%= dataset.co.toFixed(2) %></td>
              <td><%= dataset.pm25.toFixed(2) %></td>
              <td><%= dataset.temp.toFixed(2) %></td>
              <td><%= dataset.hum.toFixed(2) %></td>
              <td><%= dataset.windSpeed %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% }else { %>
          <p>No dataset available</p>
        <% } %>
      </div>
    </div>
</main>
<footer class="text-white py-3">
      
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="text-white nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="text-white nav-link px-2 text-muted">Contacts</a></li>
    <li class="nav-item"><a href="#" class="text-white nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-white text-center text-muted">© 2024 AIRMIND, Inc</p>
  
</footer>
<!-- Chart library -->
<!-- <script src="./plugins/chart.min.js"></script> -->
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="/js/script.js"></script>